@font-face {
  font-family: Jakarta;
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

html {
  font-family: Jakarta;
  font-size: 16px;
  box-sizing: border-box;
}
* {
  padding: 0px;
  margin: 0px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-content {
  width: 100vw;
  /* padding: 20px; */
  padding: 20px clamp(0rem, -0.135rem + 1.443vw, 1.25rem);
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.heading > h2 {
  /* font-size: 80px; */
  font-size: clamp(0.625rem, 0.152rem + 5.051vw, 5rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.heading > h2 > div {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px; */
  margin-left: clamp(0.313rem, 0.008rem + 3.247vw, 3.125rem);

  background-color: hsl(219, 85%, 26%);
  height: 1.45em;
  aspect-ratio: 1/1;
  border-radius: 15%;
  /* font-size: 75px; */
  font-size: clamp(0.563rem, 0.116rem + 4.762vw, 4.688rem);
}
.heading > h3 {
  /* font-size: 65px; */
  font-size: clamp(0.438rem, 0.045rem + 4.185vw, 4.063rem);
  color: hsl(219, 12%, 42%);
  font-weight: 500;
}
.heading > h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.notifications-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 60px; */
  margin-top: clamp(0.313rem, -0.06rem + 3.968vw, 3.75rem);
  /* padding: 60px 0px 30px 0px; */
  padding: clamp(0.625rem, 0.287rem + 3.608vw, 3.75rem) 0px
    clamp(0.625rem, 0.49rem + 1.443vw, 1.875rem) 0px;
}
.notification-card {
  /* margin: 40px 0px; */
  margin: clamp(0.313rem, 0.076rem + 2.525vw, 2.5rem) 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar {
  /* margin-right: 30px; */
  margin-right: clamp(0.313rem, 0.143rem + 1.804vw, 1.875rem);
  /* height: 130px; */
  height: clamp(1.25rem, 0.506rem + 7.937vw, 8.125rem);
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.avatar > img {
  height: 100%;
  aspect-ratio: 1/1;
}
.notification-text-1stperson {
  /* font-size: 50px; */
  font-size: clamp(0.5rem, 0.216rem + 3.03vw, 3.125rem);
}
.notification-text-action {
  /* font-size: 50px; */
  font-size: clamp(0.5rem, 0.216rem + 3.03vw, 3.125rem);
  color: hsl(219, 12%, 42%);
  font-weight: 300;
}
.notification-text-3rdperson {
  /* font-size: 50px; */
  font-size: clamp(0.5rem, 0.216rem + 3.03vw, 3.125rem);
  font-weight: 600;
  color: hsl(219, 12%, 42%);
}
.notification-text-time {
  /* font-size: 45px; */
  font-size: clamp(0.375rem, 0.111rem + 2.814vw, 2.813rem);
  color: hsl(219, 14%, 63%);
}
.notification-text-seen {
  /* margin-left: 25px; */
  margin-left: clamp(0.25rem, 0.108rem + 1.515vw, 1.563rem);
  display: inline-flex;
  /* height: 35px; */
  height: clamp(0.313rem, 0.11rem + 2.165vw, 2.188rem);
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: hsl(1, 90%, 64%);
}
.notification-text-privatemsg {
  /* font-size: 40px; */
  font-size: clamp(0.438rem, 0.214rem + 2.381vw, 2.5rem);
  color: hsl(219, 14%, 63%);
  padding: 20px 20px 0px 20px;
}
.notification-comment-image {
  /* height: 120px; */
  height: clamp(1.25rem, 0.574rem + 7.215vw, 7.5rem);
  aspect-ratio: 1/1;
}
.notification-text-3rdgroup {
  color: hsl(219, 85%, 26%);
}
.notification-text-3rdgroup:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 900;
}
.notification-text-1stperson:hover {
  cursor: pointer;
}
